<!DOCTYPE html>
<html>
    <head>
        <title>Index | Blog App</title>
    </head>
    <body>
    <%= provide :titulo, "Index" %>
    <div>
        <h1>Blog App</h1>
        <p>
            Esta e a pagina index da aplicacao Blog desenvolvida durante
            o Laboratorio de Engenharia de Software.
        </p>
        <%=  link_to  "Posts", posts_path %>
        </div>
    </body>
</html>